<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<h1>This is a 404</h1>
<div id="post-area" class="col-md-8 col-md-offset-2">
    <% include content/blog-overview-articles.ejs%>
</div>
</body>
</html>